@import "comp/variables";

// ADD leter spacing or not? Which one looks better?

/*Table of contents:
    1. Global styles
    2. Components
    3. Breakpoints
*/


/*===========
    Global styles
============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::after, *::before{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family:Courier New, monospaced;
    font-weight: 600;
}
body{
    display: flex;
    flex-flow: column wrap;
    background-color: $bColor;
    color:$fColor;
}
h3{
    font-size: 1.4rem;
    transition:text-shadow ease-in-out 0.8s;
}
h3:hover{
    text-shadow: 0.1em 0.1em #00ff00;
}
h4{
    font-size: 1.2rem;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper, .main{
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}
.main{
    width: 80vw;
}
.mg-b{
    margin-bottom: 5rem;
}
.hidden{
    display: none;
}
.arrow{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 20%;
    background-color:limegreen ;
    font-size: 1rem;
    color: white;
    position: fixed;
    margin-top: 80vh;
    margin-left: 90vw;
    cursor: pointer;
}
/*===========
    Components
============*/

/*===========
    Icon bar
============*/
@import "comp/icon-bar";

/*===========
    Nav
============*/
@import "comp/nav";

/*===========
    Header
============*/
@import "comp/site-header";

/*===========
    Baner
============*/
@import "comp/baner";
/*===========
    Section1 -> projects
============*/
@import "comp/projects";
@import "comp/technologies";
/*===========
    Section2-> school-list
============*/
@import "comp/school-list";
/*===========
    About
============*/
@import "comp/about-me";
/*===========
    Contact
============*/
@import "comp/contact";
/*===========
    Footer
============*/
@import "comp/footer";



/*===========
    Break points
============*/
@import "breakP/medium";
@import "breakP/small";
@import "breakP/mobile-L";
