@import "comp/nav";
@import "comp/baner";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column wrap;
    // align-content: center;
    margin: 0 10vw;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
.site-header{
    height: auto;
}