.baner {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    &__img {
        max-height: 90vh;
        max-width: 90%;
        border-bottom: 0.1rem solid $fColorG;
        padding: 0 10vw;
    }
}