.baner{
    height: 100%;
    display: flex;
    justify-content: center;
    
    &__img{
        max-width:100%;
        min-width: 15rem;
        border-bottom: 0.1rem solid $fColorG;
        padding: 0 10vw;
    }
    
}