.baner{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
    &__img{
        max-width:90vw;
        min-width: 80vw;
        border-bottom: 0.1rem solid $fColorG;
        padding: 0 10vw;
    }
    
}