.overlay{
    min-height: 100vh;
    min-width: 100vw; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:center;
    transform: scale(0);
    transition: all ease-in-out 250ms;
    z-index: 5;
}
.contact{
    position: relative;
    background-color: white;
    color: white;
    border-radius: 20px;
    background: rgb(16,59,78);
    max-height: 85vh;
    max-width: 60vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr 0.25fr;

    &__cv{
        transform: rotate(30deg);
        text-transform: uppercase;
        grid-row: 1/span 3;
        grid-column: 3/(span)5;
        text-align: center;
        height: 10rem;
    }
    &__cv-heading{
        font-size: 1.8rem;
        cursor: default;
      
    }
    &__download{
        position: relative;
        font-size: 1.2rem;
        color:#f25f5c;
    }
    &__btn {
        z-index: 2;
        position: absolute;
        top:1em;
        left:1em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.7rem;
        height: 1.7rem;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid white;
        border-radius:0.15em;
    }

    &__burger {
        width: 1rem;
        height: 0.15rem;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(27, 121, 230, 0.2);
        transition: all .5s ease-in-out;
        transform: rotate(-50deg);
    }

    &__burger::before{
        content: '';
        position: absolute;
        width: 1rem;
        height: 0.15rem;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    }

    &__burger::before {
        transform: rotate(90deg);
    }
    &__btn:hover &__burger{
        transform: rotate(180deg);
    }
}
.form{
    font-weight: bolder;
        grid-row: 2/span 3;
        grid-column: 2/(span)4;
    &>*{
        padding-top: 1em;
    }
    &__heading{
        cursor: default;
        font-size: 2rem;
        transform: rotate(3deg);
        text-shadow: 2px 1px 6px rgba(252, 252, 255, 0.363);
    }
    &__heading:hover{
        text-shadow: 2px 1px 6px rgba(252, 252, 255, 0.363);
    }
    &__input,&__label{
        display: block;
        text-shadow: 2px 1px 6px rgba(252, 252, 255, 0.363);
       
    }
    &__label{
        font-size: 1.2rem;
    }
    &__input{
        max-width: 60%;
        min-width: 45%;
    }
    &__message{
        width: 80%;
    }
    &__input, &__message, &__btn{
        font-weight: 800;
        background-color:white;
        border: 1px solid royalblue;
        border-radius: 10px;
        transition:transform ease-in-out 250ms,
        box-shadow ease-in-out 250ms;
    }
    &__input, &__message{
        border-bottom: 2px solid #50514f;
        margin-top: 0.7em;
        color: black;
        padding: 10px;
        box-shadow: 2px 2px 14px 0.2px royalblue;
    }
    &__input:hover, &__message:hover, &__btn:hover{
        transform:scale(1.05);
        box-shadow: 2px 2px 14px 10px royalblue;
    }
    &__input:focus, &__message:focus, &__btn:focus{
        transform:scale(1.05);
        box-shadow: 2px 2px 14px 10px royalblue;
    }
    &__btn{
        color: white;
        border: 1px solid #51b3dd ;
        background-color: #247ba0;
        box-shadow: none;
        min-width: 10rem;
        max-width:12rem ;
        text-transform: uppercase;
        text-shadow: 1px 1px 4px royalblue;
        padding:0.4em;
        cursor: pointer;
        margin: 1em auto;
    }
}
