.footer{
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    align-items: center;
    background-color: royalblue;
    &__copy{
        color:white;
        font-size: 1rem;
    }
   
}
.fwrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    padding:2em;
    width: 90vw;
}
.l-panel{
    flex:1 20em;
    display: flex;
    min-width: 20vw;
    padding-bottom: 1em;
    align-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    color: white;
    &__text{
        padding:0.3em;
        font-size: 1.4em;
        color:black;
        font-weight: bolder;
    }
}
.r-panel{
    flex:1 25em;
    min-width: 20vw;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
