.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(124, 233, 147);
    &__copy{
        color:rgb(43, 43, 46);
        font-size: 1rem;
    }
   
}
.fwrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90vw;
}
.l-panel{
    flex:1 25rem;
    min-width: 20vw;
    padding:2rem;
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    &__text{
        color: gray;
        font-size: 1.2rem;
    }
}
.r-panel{
    flex:1 25rem;
    min-width: 20vw;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
