.icon-bar{
    &__container{
        display: inline-block;
        height: 3rem;
        width: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
            &:nth-child(1){
                 background-image: url(/assets/fb.svg);
                 
             }
             &:nth-child(2){
                background-image: url(/assets/1ins.svg);
               
            }
            &:nth-child(3){
                background-image: url(/assets/mail-nocolor.svg);
      
            }
            &:hover{
                height: 3.5rem;
                width: 3.5rem;
            }
    }
  
}
