.icon-bar {
    &__container {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: transform ease-in-out 1s;

        &:nth-child(1) {
            background-image: url(/assets/icons/fb.svg);

        }

        &:nth-child(2) {
            background-image: url(/assets/icons/1ins.svg);

        }

        &:nth-child(3) {
            background-image: url(/assets/icons/linkedin.svg);

        }

        &:nth-child(4) {
            background-image: url(/assets/icons/github.svg);
        }

        &:hover,
        &:focus {
            transform: scale(1.2) rotate(360deg);
        }
    }

    &__link {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
    }

}