.icon-bar{
    &__container{
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
            &:nth-child(1){
                 background-image: url(/assets/fb.svg);
                 
             }
             &:nth-child(2){
                background-image: url(/assets/1ins.svg);
               
            }
            &:nth-child(3){
                background-image: url(/assets/mail-nocolor.svg);
      
            }
           
            &:hover{
                transition-duration: 2s;
                transform: rotateY(360deg);
                cursor: pointer;
            }
    }
    &__link{
        display: inline-block;
        height: 3rem;
        width: 3rem;
    }
  
}
