.site-header{
    height: auto;
}
.nav{
    height: 12vh;
    width: 100%;
    padding-top:5vh;
    margin-bottom: 10vh;
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
