
.nav{
    // height: 12vh;
    width: 100%;
    margin-top:5vh;
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
    }
    &__item:hover{
        border-bottom: 0.2rem solid rgb(43, 255, 0);
    }
}
