.nav {
    height: 5rem;
    width: 100%;
    font-size: 1.2rem;

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 5vh;
        height: auto;
    }
    &__item{
        transition: transform ease-in-out 500ms;
    }

    &__item:hover {
        border-bottom: 0.1rem solid rgb(43, 255, 0);
        text-shadow: 0.1rem 0.1rem $fColorG;
        transform: translateY(-0.25em);
    }
}