.skills {
    width: 100%;

    &__link {
        display: inline-block;
        margin-top: 2.5rem;
    }
}

.galery {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5rem;
    z-index: -1;

    &__element {
        text-align: center;
        text-transform:uppercase;
        display: flex;
        position: relative;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        flex: 1 20rem;
        min-width: 20vw;
        min-height: 10rem;
        margin: 1rem;
        background-color: rgba($color: lightgreen, $alpha: .5);
        border-radius: 20px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 1em;
            left: 1em;
            bottom: 1em;
            right: 1em;
            z-index: -2;
        }

        &::before {
            border-top: 5px solid black;
            border-bottom: 2px solid black;
            border-radius: 20px;
            transform: scale(0, 1);
            transition: transform ease-out 550ms;
        }

        &::after {
            border-right: 5px solid black;
            border-left: 2px solid black;
            border-radius: 20px;
            transform: scale(1, 0);
            transition: transform ease-out 250ms;
        }

        &:hover::before,
        &:hover::after {
            transform: scale(1, 1);
        }
    }

    &__button {
        color: green;
        background-color: white;
        border: 1px solid green;
        font-weight: bolder;
        border-radius: 10px;
        width: 8em;
        margin-top: 0.8em;
        font-size: 1.1em;
        padding: 0.3em;
        text-align: center;
        transition: transform ease-in-out 250ms;
        text-shadow: 1px 1px 2px silver;
        &:hover,
        &:focus {
            transform: scale(0.9);
        }
    }

    &__heading {
        font-weight: bold;
    }
}

.github-link::after {
    content: '';
    background-image: url(/assets/icons/github.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transition: transform ease-in 250ms;
}

.github-link:hover::after {
    transform: scale(1.2);
}